<div class="p-16">
  <%= render_card title: "Offer a service" do %>
    <div class="p-6 pt-0">
      <%= render_form_for(@service, class: "mt-10") do |f| %>
        <% if @service.errors.any? %>
          <div>
            <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
            <ul>
              <% @service.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="py-2">
          <%= f.label :title, required: true %>
          <%= f.text_field :title %>
        </div>
        <div class="py-2">
          <%= f.label :description, required: true %>
          <%= f.text_area :description %>
        </div>
        <div class="py-2">
          <%= f.label :price, required: true %>
          <%= f.number_field :price, placeholder: "0.00" %>
        </div>
        <div class="py-2">
          <%= f.label :categories, required: true %>
          <%= f.text_field :categories %>
        </div>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  <% end %>
</div>