<div class="p-2 mx-4 md:mx-16 mb-10">
  <h2 class="font-semibold text-4xl p-4">Describe your offer</h2>
  <%= render_form_for(@service, class: 'mr-20 border rounded-lg') do |f| %>
    <div class="w-full flex flex-wrap justify-center items-start gap-4 mt-6 mb-6">
      <div class="w-full md:w-1/2 py-2">
        <%= f.label :title, required: true, class: "block text-lg font-medium text-gray-700" %>
        <%= f.text_field :title, value: session[:title], class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
      <div class="w-full md:w-1/2 py-2">
        <%= f.label :description, required: true, class: "block text-lg font-medium text-gray-700" %>
        <%= f.text_area :description, value: session[:description], class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>
  <% end %>
</div>
