<%= render 'devise/shared/auth_head' %>

<%= render_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "flex flex-col gap-2") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex w-full flex-row gap-2">
    <div class= "flex w-1/2 flex-col gap-2">
      <%= render 'components/form/required_label', f: f, attribute: :first_name %>
      <%= f.text_field :first_name, autocomplete: "name" %>
    </div>
    <div class="flex w-1/2 flex-col gap-2">

        <%= f.label :last_name %>

      <%= f.text_field :last_name, autocomplete: "name" %>
    </div>
  </div>

  <%= render 'components/form/required_label', f: f, attribute: :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <%= render 'components/form/required_label', f: f, attribute: :password %>
  <%= f.password_field :password, autocomplete: "new-password" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  <%= f.submit "Sign up", class: "mt-2" %>
<% end %>

<%= render "devise/shared/omniauth_container" %>
