<h2 class="font-semibold text-2xl pb-8">Join our community and start offering your services</h2>

<%= render_form_for(resource, as: resource_name, url: create_freelancer_path, html: { method: :post }, class: "flex flex-col gap-4") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :biography, required: true %>
    <%= f.text_area :biography, placeholder: 'Tell us about yourself...', required: true %>
    <small class="form-hint">Type a minimum of 10 and maximum of 500 characters.</small>
    
    <% if resource.errors[:biography].any? %>
      <div class="text-red-500 text-sm">
        <%= resource.errors.full_messages_for(:biography).join(', ') %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :birthdate, required: true %>
    <%= f.date_field :birthdate, autocomplete: 'bday', required: true %>
    <%= f.error_message :birthdate %>
  </div>

  <div class="field" data-controller="location">
    <%= f.label :city, required: true %>
    <%= f.text_field :city, required: true, data: { action: 'input->location#updateSearchParam', location_target: 'input' } %>
    <%= f.error_message :city %>
    <%= turbo_frame_tag :cities, src: locations_path(q: '__QUERY__'), class: 'mt-2', data: { location_target: 'frame', base_url: locations_path(q: '__QUERY__') } %>
  </div>

  <div class="field">
    <%= f.label :mobile, required: true %>
    <%= f.text_field :mobile, required: true %>
    <%= f.error_message :mobile %>
  </div>

  <div class="field">
    <%= f.label :skills %>
    <small class="form-hint">Choose at least one.</small>
    <div class="skills-checkboxes">
      <% @categories.each do |category| %>
        <div>
          <%= check_box_tag "user[skills][]", category.title, @user.skills.include?(category.title.to_s), class: "peer h-4 w-4 shrink-0 rounded-sm border border-primary hover:cursor-pointer focus-visible:outline-none focus-visible:ring-0 disabled:cursor-not-allowed disabled:opacity-50" %>
          <%= label_tag "user_skills_#{category.title}", category.title %>
        </div>
      <% end %>
    </div>
    <%= f.error_message :skills %>
  </div>

  <%= f.hidden_field :country, value: 'Philippines' %>
  <div class="actions mt-4">
    <%= f.submit current_user&.role&.name == 'freelancer' ? "Update Profile" : "Join" %>
    <%= link_to "Cancel", root_path, class: "btn-secondary ml-4" %>
  </div>
<% end %>
