<%= turbo_frame_tag dom_id(comment, :review) do %>
  <div class="mt-4">
    <% if client %>
      <div class="w-full flex gap-2 items-center">
        <div class="w-[40px] h-[40px] rounded-full bg-[#f2f2f2] flex justify-center items-center">
          <% if client.avatar_url.present? %>
            <!-- <%= image_tag(client.avatar_url, alt: "#{client.id}_avatar") %> -->
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black">
              <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/>
            </svg>
          <% end %>
        </div>
        <div>
          <p class="text-base font-semibold"><%= client.full_name %></p>
          <p class="text-base"><%= "#{client.city}, #{client.country}" %> - client</p>
        </div>
      </div>
      <div>
        <p><%= comment.subject %></p>
      </div>
      <div class="text-sm flex justify-end">
        <%= render_hover_card do %>
          <%= hover_card_trigger do %>
            <% like = comment.likes_count > 0 ? 'Likes' : 'Like' %>
            <% likes_count = comment.likes_count > 0 ? comment.likes_count : '' %>
            <%= content_tag :span, "#{likes_count} #{like}", class: "text-sm" %>
          <% end %>
          <%= hover_card_content do %>
            <div>
              <ul>
                <% Like.where(likeable_type: 'Comment', likeable_id: comment.id).each do |like| %>
                  <% user_id = like.user_id %>
                  <% user = User.find_by(id: user_id) %>
                  <li class="text-sm"><%= user.full_name %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if current_user %>
        <div class="flex justify-between mt-2 px-12">
          <button class="group hover:text-[#ece75f] flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="black" class="group-hover:fill-[#ece75f]">
              <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/>
            </svg>
            <span class="text-base">Like</span>
          </button>
          <% if current_user && current_user.id == client.id %>
            <div></div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="w-full flex gap-2 items-center">
        <div class="w-[40px] h-[40px] rounded-full bg-[#f2f2f2] flex justify-center items-center">
          <% if freelancer.avatar_url.present? %>
            <!-- <%= image_tag(freelancer.avatar_url, alt: "#{freelancer.id}_avatar") %> -->
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black">
              <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/>
            </svg>
          <% end %>
        </div>
        <div>
          <p class="text-base font-semibold"><%= freelancer.full_name %></p>
          <p class="text-base"><%= "#{freelancer.city}, #{freelancer.country}" %> - freelancer</p>
        </div>
      </div>
      <div>
        <p><%= comment.subject %></p>
      </div>
      <div class="text-sm flex justify-end">
        <%= render_hover_card do %>
          <%= hover_card_trigger do %>
            <% like = comment.likes_count > 0 ? 'Likes' : 'Like' %>
            <% likes_count = comment.likes_count > 0 ? comment.likes_count : '' %>
            <%= content_tag :span, "#{likes_count} #{like}", class: "text-sm" %>
          <% end %>
          <%= hover_card_content do %>
            <div>
              <ul>
                <% Like.where(likeable_type: 'Comment', likeable_id: comment.id).each do |like| %>
                  <% user_id = like.user_id %>
                  <% user = User.find_by(id: user_id) %>
                  <li class="text-sm"><%= user.full_name %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if current_user %>
        <div class="flex justify-between mt-2 px-12">
          <button class="group hover:text-[#ece75f] flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="black" class="group-hover:fill-[#ece75f]">
              <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/>
            </svg>
            <span class="text-base">Like</span>
          </button>
          <% if current_user && current_user.id == freelancer.id %>
            <div></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>