<% links = [{ name: 'home', path: root_path }, { name: 'about', path: root_path } ] %>

<header class="sticky top-0 flex h-16 items-center gap-4 border-b bg-background px-4 md:px-6 font-medium text-sm text-muted-foreground">
  <nav class="hidden flex-col gap-6 text-lg md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6"
    <%= link_to root_path do %>
      <span class="sr-only">Rails Auth Starter</span>
      <img class="h-6 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Logo">
    <% end %>
    <% links.each do |link| %>
      <%= link_to link[:name].capitalize, link[:path], class: 'transition-colors hover:text-foreground' %>
    <% end %>
  </nav>

  <div class='md:hidden'>
  <%= render_sheet direction: "left" do %>
    <%= sheet_trigger do %>
      <%= render_button variant: :outline do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      <% end %>
    <% end %>
    <%= sheet_content do %>
      <nav class="flex flex-col gap-6 text-lg font-medium">
        <%= link_to root_path do %>
          <span class="sr-only">Rails Auth Starter</span>
          <img class="h-6 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Logo">
        <% end %>
        <% links.each do |link| %>
          <%= link_to link[:name].capitalize, link[:path], class: 'transition-colors hover:text-foreground' %>
        <% end %>
      </nav>
    <% end %>
  <% end %>
  </div>

  <div class="flex w-full items-center justify-end gap-4 md:ml-auto md:gap-2 lg:gap-4">
    <%= render_dropdown_menu do %>
      <%= dropdown_menu_trigger do %>
        <%= render_button variant: :outline, id: :mode_trigger do %>
          <% if cookies[:ui_theme] == 'light' %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
            </svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
            </svg>
          <% end %>
        <% end %>
      <% end %>
      
      <%= dropdown_menu_content do %>
        <div data-controller="ui--mode">
          <% ["Light", "Dark", "System"].each do |mode| %>
            <%= dropdown_menu_item do %>
              <%= render_button mode, 
                variant: :ghost,
                data: { action: "click->ui--mode##{mode.downcase}" },
                class: 'p-0 h-fit w-full justify-start' %>
            <% end %>
          <% end%>
        </div>
      <% end %>
    <% end %>

    <%= render_dropdown_menu do %>
      <%= dropdown_menu_trigger do %>
        <%= render_avatar src: current_user.avatar_url %>
      <% end %>

      <%= dropdown_menu_content do %>
        <%= dropdown_menu_label "My Account" %>
        <%= render_separator class: "my-1" %>
        <%= dropdown_menu_item do %>
          <%= link_to "Profile", edit_user_registration_path %>
        <% end %>
        <%= dropdown_menu_item do %>
          <%= link_to "Settings" %>
        <% end %>
        <%= dropdown_menu_item do %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</header>
