<div class='h-full w-full p-12'>
  <ul class='hit w-full flex flex-col text-sm' data-controller='checkbox-select-all'>
    <li class='h-10 w-full flex flex-row items-center gap-4 px-4 py-2'>
      <div class='w-12'>
        <div class='h-full w-full flex items-center justify-center'>
          <div class='h-fit w-full flex flex-row items-center gap-1 p-1 bg-muted border border-accent rounded-sm'>
            <%= check_box_tag :select_all, data: { checkbox_select_all_target: 'checkboxAll' } %>
            <%= render_dropdown_menu do %>
              <%= dropdown_menu_trigger do %>
                <%= render 'icons/chevron_down' %>
              <% end %>
              <%= dropdown_menu_content do %>
                <div class='h-fit w-36 flex flex-col gap-2 p-2 font-normal text-xs text-muted-foreground'>
                  <%= link_to appointments_path, class: 'flex flex-row items-center justify-between gap-2 hover:cursor-pointer hover:text-foreground' do %>
                    <%= render 'icons/envelope_open' %>
                    <span>Mark as read</span>
                  <% end %>
                  <%= link_to appointments_path, class: 'flex flex-row items-center justify-between gap-2 hover:cursor-pointer hover:text-foreground' do %>
                    <%= render 'icons/envelope' %>
                    <span>Mark as unread</span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <span class='text-muted-foreground'>Notifications</span>
      </div>
    </li>
    <% @notifications.each do |notification| %>
      <div id=<%=dom_id(notification)%>>
        <%= render partial: 'notification', locals: { notification: notification } %>
      </div>
    <% end %>
  </ul>
</div>
