<%= turbo_frame_tag :index_notifications do %>
  <%= render_dropdown_menu do %>
    <%= dropdown_menu_trigger do %>
      <%= render partial: 'notifications/trigger' %>
    <% end %>
    <%= dropdown_menu_content do %>
      <% if current_user&.notifications.any? %>
        <div class='h-fit w-96 flex flex-col overflow-hidden'>
          <% @notifications.each do |notification| %>
            <%= render partial: 'notification', locals: { notification: notification } %>
          <% end %>
        </div>
      <% else %>
        <div class='h-full w-full flex items-center justify-center px-4 py-6 truncate text-sm text-muted-foreground text-center'>
          No notifications to display
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
