<%= turbo_frame_tag :index_alerts do %>
  <%= render_dropdown_menu do %>
    <%= dropdown_menu_trigger do %>
      <div id='alert_trigger' class='relative'>
        <%= render partial: 'alerts/trigger', locals: { count_unread: @count_unread } %>
      </div>
    <% end %>
    <%= dropdown_menu_content do %>
      <% if current_user&.notifications.any? %>
        <div class='h-fit w-96 flex flex-col gap-1 overflow-hidden'>
          <% @notifications.each do |notification| %>
            <div id="alert_<%= notification.id %>">
              <%= render partial: 'alert', locals: { notification: notification } %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class='h-full w-full flex items-center justify-center px-4 py-6 truncate text-sm text-muted-foreground text-center'>
          No notifications to display
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
