<%= render_form_for(appointment, url: appointment_path(appointment), method: :patch, data: { controller: 'auto-submit' }, class: 'w-28', html: { id: "status_form_#{appointment.id}" }) do |f| %>
  <% if appointment.status == 'completed' %>
    <span class='font-bold text-blue-500'><%= appointment.status.capitalize %></span>
  <% elsif appointment.end <= Date.today && appointment.status == 'accepted' %>
    <%= f.select_field :status, selected: appointment.status, disabled: 'accepted', id: "status_form_#{appointment.id}", class: 'w-full', data: { action: 'change->auto-submit#submit' } do |select| %>
        <%= select.option label: 'Accepted', value: :accepted %>
        <%= select.option label: 'Completed', value: :completed %>
    <% end %>
  <% else %>
    <%= f.select_field :status, selected: appointment.status, disabled: 'pending', id: "status_form_#{appointment.id}", class: 'w-full', data: { action: 'change->auto-submit#submit' } do |select| %>
      <%= select.option label: 'Pending', value: :pending %>
      <%= select.option label: 'Accept', value: :accepted %>
      <%= select.option label: 'Reject', value: :rejected %>
    <% end %>
  <% end %>
<% end %>
