<div class='flex flex-col gap-4' data-controller='appointment'>
  <div class='mb-4'>
    <span class='text-2xl font-bold'><%= number_to_currency(price, unit: '₱') %></span>
    <span class='text-xs text-muted-foreground italic'>/ hour</span>
  </div>

  <%= render_form_for appointment, class: 'h-full w-full max-w-md mx-auto flex flex-col gap-4' do |f| %>
    <%= f.hidden_field :service_id, value: service.id %>
    <%= f.hidden_field :client_id, value: current_user.id %>
    <%= f.hidden_field :freelancer_id, value: service.user_id %>
    <%= f.hidden_field :start, data: { appointment_target: 'startDate' } %>
    <%= f.hidden_field :end, data: { appointment_target: 'endDate' } %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <div class='flex flex-row gap-2'>
      <div class='w-full flex flex-col gap-4'>
        <%= f.label 'date_range' %>
        <%= render_input name: 'appointment_date_range', 
          id: 'appointment_date_range',
          placeholder: Date.today, 
          autocomplete: false,
          data: { appointment_target: 'dateInput' } %>
      </div>

      <div class='w-24 flex flex-col gap-4'>
        <%= f.label :duration %>
        <%= f.select_field :duration, 
          selected: 1, 
          data: { appointment_target: 'durationInput' } do |select| %>
          <%= select.option label: 1, value: 1 %> 
        <% end %>
      </div>
    </div>

    <%= f.submit 'Create', data: { turbo_frame: '_top' } %>

  <% end %>

  <div class='flex flex-col gap-4'>
    <div class='w-full flex flex-row justify-between'>
      <div class='underline'>
        <span data-appointment-target='fee'><%= price %></span>
        <span>x</span>
        <span data-appointment-target='duration'>1</span>
      </div>
      <span data-appointment-target='price'><%= number_to_currency(price, unit: '₱') %></span>
    </div>
    <div class='w-full flex flex-row justify-between'>
      <span class='underline'>Service fee charge</span>
      <span data-appointment-target='serviceFee'>
        <%= number_to_currency(service_fee, unit: '₱' )%>
      </span>
    </div>

    <%= render_separator class: 'my-4' %>

    <div class='w-full flex flex-row justify-between font-bold'>
      <span>Total fee before taxes</span>
      <span data-appointment-target='totalFee'><%= number_to_currency(@total_fee, unit: '₱') %></span>
    </div>
  </div>
</div>
