#overall_service_rating
<div>
    <h1><%= overall_service_rating.overall_rating / overall_service_rating.count =%></h1>
</div>
<div>
    <div>
        <p>Professionalism</p>
        <span class=""><%= overall_service_rating.professionalism / overall_service_rating.count =%></span>
        <span></span>
    </div>
    <div>
        <p>Punctuality</p>
        <span class=""><%= overall_service_rating.punctuality / overall_service_rating.count =%></span>
        <span></span>
    </div>
    <div>
        <p>Quality</p>
        <span class=""><%= overall_service_rating.quality / overall_service_rating.count =%></span>
        <span></span>
    </div>
    <div>
        <p>Communication</p>
        <span class=""><%= overall_service_rating.communication / overall_service_rating.count =%></span>
        <span></span>
    </div>
    <div>
        <p>Value</p>
        <span class=""><%= overall_service_rating.value / overall_service_rating.count =%></span>
        <span></span>
    </div>
</div>