<%= turbo_frame_tag dom_id(review, :service_modal) do %>
  <div class="w-full mr-16 mt-8 border-b pb-4">
    <div class="w-full flex gap-2 items-center">
      <div class="w-[40px] h-[40px] rounded-full bg-[#f2f2f2] flex justify-center items-center">
        <% if user.avatar_url? %>
          <!-- <%= image_tag(user.avatar_url, alt: "#{user.id}_avatar") %> -->
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black">
            <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/>
          </svg>
        <% end %>
      </div>
      <div>
        <p class="text-base font-semibold"><%= user.full_name %></p>
        <p class="text-sm"><%= "#{user.city}, #{user.country}" %></p>
      </div>
    </div>
    <div class="w-full mt-1 flex items-center">
      <div class="flex items-center">
        <% (1..5).each do |i| %>
          <span class="<%= i <= review.overall_rating ? 'text-black' : 'text-gray-300' %>">&#9733;</span>
        <% end %>
        <span class="mx-2">&#183;</span>
      </div>
      <div class="font-normal text-sm">
        <%= time_ago_in_words(review.created_at) %>
      </div>
    </div>

    <div class="w-full mt-1 text-wrap">
      <p><%= review.subject %></p>
    </div>
    <div class="flex justify-end">
      <div class="text-sm">
        <%= render partial: 'likes/likes_count_review', locals: { review: review } %>
      </div>
      <div class="text-sm ml-4">
        <%= render_hover_card do %>
          <%= hover_card_trigger do %>
            <% comment = review.comments.count > 0 ? 'Comments' : 'Comment' %>
            <% comments_count = review.comments.count > 0 ? review.comments.count : '' %>
            <%= content_tag :span, "#{comments_count} #{comment}", class: "text-sm" %>
          <% end %>
          <%= hover_card_content do %>
            <div>
              <ul>
                <% users = users_who_commented_on_review(review) %>
                <% if users.any? %>
                  <ul>
                    <% users.each do |user| %>
                      <li class="text-sm"><%= user %></li>
                    <% end %>
                  </ul>
                <% else %>
                  <p>No users have commented on this review.</p>
                <% end %>              
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if current_user %>
      <div class="flex justify-evenly mt-2">
        <%= turbo_frame_tag dom_id(review, :like_button), src:  liked_status_review_likes_path(review_id: review) do %>
        <% end %>
        <%= link_to review_path(id: review.id), class: 'group hover:bg-[#f2f2f2] hover:text-[#FACC15] hover:fill-[#FACC15] flex items-center', data: { turbo: false } do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="black" class="group-hover:fill-[#FACC15]">
            <path d="M280-240q-17 0-28.5-11.5T240-280v-80h520v-360h80q17 0 28.5 11.5T880-680v600L720-240H280ZM80-280v-560q0-17 11.5-28.5T120-880h520q17 0 28.5 11.5T680-840v360q0 17-11.5 28.5T640-440H240L80-280Zm520-240v-280H160v280h440Zm-440 0v-280 280Z"/>
          </svg>
          <span class="text-base">Comment</span>
        <% end %>
        <% if current_user && current_user.id == review.client_id %>
          <div class="flex justify-end gap-4">
            <%= link_to edit_review_path(review), data: { turbo: false },  class: "group hover:text-[#FACC15] flex items-center" do %>
              <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="black" class="group-hover:fill-[#FACC15]"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
              <span>Edit</span>
            <% end %>

            <%= link_to review_path(review), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: "group hover:text-[#FACC15] flex items-center" do %>
              <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="black" class="group-hover:fill-[#FACC15]"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
              <span>Delete</span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
