<--! render partial reviews/service_rating_and_reviews locals {} -->
<--! bnw for now -->
<div>
  <div id="divider"></div>
  <div id="service_rating_container">
    <%= turbo_frame_tag dom_id(service, :overall_service_rating), src: service_overall_service_rating_path(service_id: service.id) do %>
      <%= turbo_stream_from "#{service.id}/overall_service_rating" %>
      <!-- Content for overall service rating (assuming it is dynamic) -->
      <div id="overall_service_rating">
        <!-- Insert dynamic content here -->
      </div>
    <% end %>
  </div>
  <div id="divider"></div>
  <div id="reviews-container">
    <%= render_dialog do %>
      <%= dialog_trigger do %>
        <!-- Dynamic number of reviews -->
        <%= render_button("Open Reviews", variant: :outline, class: 'open-reviews-button') %>
      <% end %>

      <%= dialog_content id: "reviews-modal-content" do %>
        <div class="flex">
          <div>
            <%= turbo_frame_tag dom_id(service, :overall_service_rating), src: service_overall_service_rating_path(service_id: service.id) do %>
              <%= turbo_stream_from "#{service.id}/overall_service_rating" %>
              <!-- Content for overall service rating (assuming its dynamic) -->
              <div id="overall_service_rating">
                <!-- Insert dynamic content here -->
              </div>
            <% end %>
          </div>
          <div>
            <!-- Form for search (assuming it's here) -->
            <!-- Button to toggle from latest to top reviews (assuming it's here) -->

            <%= turbo_frame_tag dom_id(service, :reviews), src: service_reviews_path(service_id: service.id) do %>
              <%= turbo_stream_from "#{service.id}/reviews" %>
              <!-- Container for reviews (assuming its dynamic) -->
              <div id="reviews">
                <!-- Reviews will be dynamically loaded here -->
                <!-- Ensure new reviews append without scrolling to the top -->
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
