<header class='sticky top-0 z-50 flex h-16 items-center gap-4 border-b bg-background px-4 mx:px-6'>
  <nav class='md:w-full hidden flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:justify-between md:gap-4 md:text-sm lg:gap-6'>
    <span class='w-32'>
      <%= link_to root_path, class: 'hover:cursor-pointer' do %>
        <div class="flex items-center gap-2 p-2 sm:p-4">
          <%= image_tag "logo-base-256x256.png", alt: "Logo", class: 'w-8 h-8 sm:w-10 sm:h-10' %>
          <span class="text-primary font-bold text-lg sm:text-md">SkillSetGo</span>
        </div>
      <% end %>

    </span>
    <div class='w-full flex flex-row justify-center gap-4 text-sm text-muted-foreground'>
      <% if params[:controller] == 'users' && user_signed_in? %>
        <%= link_to 'Profile', user_path, class: 'hover:underline' %>
        <%= link_to 'Services', services_user_path, class: 'hover:underline' if @user&.role&.name == 'freelancer' %>
        <%= link_to 'Reviews', reviews_user_path %>
        <% if @user == current_user %>
          <%= link_to 'Appointments', appointments_path, class: 'hover:underline' %>
          <%= link_to 'Calendar', calendars_path %>
        <% end %>
      <% end %>
    </div>
  </nav>

  <div class="w-full">
    <% if user_signed_in? %>
      <div class="flex w-full items-center justify-end gap-4  md:gap-2 lg:gap-4">
        <% if current_user&.registered_freelancer? && current_user&.freelancer? %>
          <%= render_button 'Offer your services',
            as: :link,
            variant: :outline,
            href: new_service_path %>
        <% end %>

        <% unless current_user&.registered_freelancer? %>
          <%= render_button 'Become a freelancer',
            as: :link,
            variant: :outline,
            href: new_freelancer_path %>
        <% end %>

        <%# mode toggle %>
        <%= render_dropdown_menu do %>
          <%= dropdown_menu_trigger do %>
            <%= render_button variant: :ghost, id: :mode_trigger do %>
              <% if cookies[:ui_theme] == 'light' %>
                <%= render 'icons/sun' %>
              <% else %>
                <%= render 'icons/moon' %>
              <% end %>
            <% end %>
          <% end %>
          <%= dropdown_menu_content do %>
            <div data-controller='ui--mode'>
              <% ['Light', 'Dark', 'System'].each do |mode| %>
                <%= dropdown_menu_item do %>
                  <%= render_button mode, 
                    variant: :ghost,
                    data: { action: "click->ui--mode##{mode.downcase}" },
                    class: 'p-0 h-fit w-full justify-start' %>
                <% end %>
              <% end%>
            </div>
          <% end %>
        <% end %>

        <%# notifications %>
        <% if user_signed_in? %>
          <%= turbo_frame_tag :index_alerts, 
            src: alerts_path %>
        <% end %>

        <%# account %>
        <%= render_dropdown_menu do %>
          <%= dropdown_menu_trigger do %>
            <div class='p-2'>
              <%= render_avatar src: current_user.avatar_url, alt: current_user.first_name %>
            </div>
          <% end %>

          <%= dropdown_menu_content do %>
            <%= dropdown_menu_label "My Account" %>
            <%= render_separator class: "my-1" %>
            <%= dropdown_menu_item do %>
              <%= link_to current_user.role.name == 'client' ? 'Profile' : 'Dashboard', current_user.role.name == 'client' ? edit_user_registration_path : user_path(current_user) %>
            <% end %>
            <% if current_user&.freelancer? %>
              <%= dropdown_menu_item do %>
                <%= link_to 'My Services', services_user_path(current_user) %>
              <% end %>
              <%= dropdown_menu_item do %>
                <%= link_to 'My Calendar', calendars_path %>
              <% end %>
            <% end %>
            <%= dropdown_menu_item do %>
              <%= link_to 'My Notifications', notifications_path %>
            <% end %>
            <%= dropdown_menu_item do %>
              <%= link_to 'My Appointments', appointments_path %>
            <% end %>
            <%= render_separator class: 'my-1' %>
            <% if !current_user&.freelancer? && current_user.registered_freelancer? %>
              <%= dropdown_menu_item do %>
                <%= button_to 'Switch to freelancing', user_role_path(current_user.id, current_user.role.id), method: :patch %>
              <% end %>
            <% elsif current_user&.freelancer? %>
              <%= dropdown_menu_item do %>
                <%= button_to 'Switch to client', user_role_path(current_user.id, current_user.role.id), method: :patch %>
              <% end %>
            <% end %>
            <%= dropdown_menu_item do %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="flex justify-end items-center gap-4 p-2 w-full">     
        <div class='hidden md:w-fit md:flex md:flex-row md:gap-6'>
          <%= link_to "Become a freelancer", new_user_session_path, class: "font-semibold rounded-lg hover:bg-gray-100 p-2 transition duration-300 ease-in-out" %>
          <%= link_to "Login", new_user_session_path, class: "rounded-lg hover:bg-gray-100 p-2 transition duration-300 ease-in-out" %>
          <%= link_to "Signup", new_user_registration_path, class: "rounded-lg hover:bg-gray-100 p-2 transition duration-300 ease-in-out" %>
        </div>
      </div>
    <% end %>
  </div>
</header>
