<!DOCTYPE html>
<html class="dark">
  <head>
    <title>RailsAuthStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex h-full w-full min-h-screen flex-col">
    <%= render 'components/layout/toast_messages' %>
    <%= render 'components/layout/navbar' %>
    <%= yield %>
    <%= render 'components/layout/footer' %>
  </body>
</html>

