<!DOCTYPE html>
<html class="transition-colors <%= cookies[:ui_theme] %>">
  <head>
    <title>Booking App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%# Date picker: https://flatpickr.js.org/ %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body class="max-w-7xl min-w-[350px] mx-auto flex h-full w-full min-h-screen flex-col bg-background text-foreground">
    <%= turbo_frame_tag 'toasts' do %>
      <%= render 'layouts/toasts' %>
    <% end %>
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path%>
      <%= link_to "Signup", new_user_registration_path%>
    <% end %>

    <%= yield %>
  </body>
</html>

