<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuthStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col dark bg-background">
    <% if notice %>
      <%= render_toast header: "Test", id: "default_toast", description: notice %>
    <% end %>

    <% if alert %>
      <%= render_toast description: alert, id: "alert_toast", variant: :destructive %>
    <% end %>

    <%= yield %>
  </body>
</html>
