<!DOCTYPE html>
<html>
  <head class="h-full">
    <title>RailsAuthStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full max-h-screen dark bg-background text-foreground font-sans text-sm">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <%= yield(:auth_header) if content_for?(:auth_header) %>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md"> 
        <div class="bg- py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

