<!DOCTYPE html>
<html class="transition-colors <%= cookies[:ui_theme] %>">
  <head>
    <title>Freelancer Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body class="max-w-7xl min-w-[350px] mx-auto flex h-full w-full min-h-screen flex-col bg-background text-foreground">
    <%= render 'layouts/toasts' %>

    <%= render 'layouts/user_nav' %>
    <%= yield %>
  </body>
</html>
